/* Portfolio.css */

#portfolio {
    padding: 20px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.portfolio-item {
    width: 350px; /* Fixed width */
    height: 175px; /* Fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-item .MuiCard-root {
    height: 100%; /* Ensure cards fill the item space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-item .MuiCardContent-root {
    flex-grow: 1; /* Allow content to expand */
}

.portfolio-item .MuiButton-root {
    align-self: flex-start; /* Align button at the bottom */
}
